{% extends "main.j2" %}
{% block content %}
<!-- <div class="sumo flex five">
    <aside class="subnav full fifth-1000">
        <div class="flex one">
            <a href="{{ content_url('sumo/index.html') }}" class="button stack">Home</a>
            <a href="{{ content_url('sumo/bracket.html') }}" class="button stack">Tournament</a>
        </div>
    </aside>
    <div class="subtitle full three-fifth-1000">
        <center><h1>
            {{ resource.meta.subtitle }}
        </center></div>
    </div>
    <div class="sumocontent full">
        {% block sumocontent %}
        {% endblock sumocontent %}
    </div>
</div> -->
{% endblock content %}
